html {
  font-family: sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-size: 1vw;
  line-height: 1;
  cursor: none;
  font-family: mr-eaves-xl-modern,sans-serif;
  color: #333;
}

.body {
  font-family: mr-eaves-xl-modern,sans-serif;
  color: #000;
}

.section {
  display: block;
  overflow: visible;
  color: #000;
}

.section.hero {
  position: relative;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.project-container {
    display: flex;
    max-width: 1584px;
    margin-right: auto;
    margin-left: auto;
    padding: 10em 3.75em 15em;
    flex-direction: column;
    justify-content: center;
}

.project-container.hero {
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero__wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 2em;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    align-content: flex-end;
}

.hero__right-column {
    position: absolute;
    left: 53%;
    top: -13%;
    right: 0;
    bottom: auto;
    display: block;
}

.hero__wrapper-graphic-elements {
    position: relative;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

.hero__eli-hero {
    position: relative;
    z-index: 10;
    width: auto;
    height: 42.45em;
    max-width: none;
}

.grey-ellipse {
    position: absolute;
    left: 8%;
    top: 8%;
    right: auto;
    bottom: auto;
    width: 32.2em;
}

.available-for-work {
    position: absolute;
    left: 26.9em;
    top: 4.6em;
    bottom: auto;
    width: 13.9em;
}

.hero__left-column {
    overflow: visible;
    height: auto;
}

.hero__wrapper-preheader {
    display: flex;
    margin-bottom: .83em;
    align-items: center;
}

.hero__emoji {
    display: inline-block;
    color: #606060;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero__preheader {
    display: inline-block;
    margin-left: 1em;
    color: #606060;
    font-size: 1.15em;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.preheader__bold-black {
    color: #000;
}

b, optgroup, strong {
    font-weight: 700;
}

.bold-text {
    font-weight: 800;
}

h1 {
    margin: .67em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4.69em;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -1px;
}

.hero__h1 {
    width: 9.6em;
    line-height: .9;
}

.redline {
    width: 24px;
    height: 3px;
    background-color: #f23333;
}

.redline._40px-topbottom-marg {
    height: 2px;
    margin-top: 2.08em;
    margin-bottom: 2.08em;
    background-color: #f23333;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.67em;
    line-height: 1.25;
    font-weight: 400;
}

.hero__h4 {
    max-width: 24em;
}

.h4__extrabold {
    font-weight: 800;
}

.hero__wrapper-buttons {
    margin-top: 5.42em;
}

a {
    background-color: transparent;
    text-decoration: underline;
    cursor: none;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898ec;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.button {
    padding: 1.4em 2.07em 1.3em;
    border: 3px solid #000;
    background-color: #000;
    background-image: url("https://uploads-ssl.webflow.com/603a00d2496482478db36f56/603a1d924e593134a7b108d6_button-arrow.svg");
    background-position: 92% 200%;
    background-size: auto;
    background-repeat: no-repeat;
    -webkit-transition: border-color 350ms cubic-bezier(.165, .84, .44, 1),background-position 150ms cubic-bezier(.165, .84, .44, 1),background-color 350ms cubic-bezier(.165, .84, .44, 1),padding 350ms cubic-bezier(.165, .84, .44, 1);
    transition: border-color 350ms cubic-bezier(.165, .84, .44, 1),background-position 150ms cubic-bezier(.165, .84, .44, 1),background-color 350ms cubic-bezier(.165, .84, .44, 1),padding 350ms cubic-bezier(.165, .84, .44, 1);
    color: #fff;
    font-size: .94em;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button.outline {
    border: 3px solid #000;
    background-color: transparent;
    color: #000;
}

.button.outline.hero__2ndbutton {
    position: relative;
    z-index: 11;
    display: none;
    margin-left: 1.67em;
    padding-right: 5.08em;
    padding-left: 5.08em;
    -webkit-transition: border-color 350ms cubic-bezier(.165, .84, .44, 1),border-color 350ms cubic-bezier(.165, .84, .44, 1),background-position 150ms cubic-bezier(.165, .84, .44, 1),background-color 350ms cubic-bezier(.165, .84, .44, 1),padding 350ms cubic-bezier(.165, .84, .44, 1);
    transition: border-color 350ms cubic-bezier(.165, .84, .44, 1),border-color 350ms cubic-bezier(.165, .84, .44, 1),background-position 150ms cubic-bezier(.165, .84, .44, 1),background-color 350ms cubic-bezier(.165, .84, .44, 1),padding 350ms cubic-bezier(.165, .84, .44, 1);
}
