* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.container {
  /* background-color: dodgerblue; */
  margin: 0 auto;
  width: 80%;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 293.3px;
  border: 1px solid black;

  /* ### SERVE A CENTRARE IL CONTENUTO DI OGNI SINGOLA SECTION ### */
  display: flex;
  justify-content: center;
  align-items: center;
  /* ############################################################ */
}

.nav {
  height: 80px;
  background-color: #5995da;
}

.header {
  height: 600px;
  background-color: #b2d6ff;
}

.menu {
  height: 80px;
  background-color: #eaedf0;
}

.element {
  background-color: #d6e9fe;
  width: 33.3%;
}

.second,
.fourth,
.sixth {
  height: 391.33px;
}

.footer {
  height: 80px;
  background-color: #f5cf8e;
}

/* ### LE MEDIA QUERY CI AIUTANO A RENDERE RESPONSIVE IL NOSTRO SITO ### */
/* ### E' IMPORTANTE L'ORDINE IN CUI VENGONO SCRITTE ALTRIMENTI NON AVREMO IL FUNZIONAMENTO DESIDERATO ### */

@media screen and (max-width: 768px) {
  .element {
    width: 50%;
    height: 345px;
  }

  .second,
  .fourth,
  .sixth {
    height: 460.33px;
  }

}

@media screen and (max-width: 576px) {
  .element {
    width: 100%;
    height: 360px;
  }

  .second,
  .fourth,
  .sixth {
    height: 480.33px;
  }
}
/* #################################################################################################### */
